# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/workspace.xml
consu.log
consu.log.2019-06-22.0.gz
learn-cloud-alibaba.iml
provi.log
provi.log.2019-06-22.0.gz
provi.log.2019-06-23.0.gz
